<ion-header>  
  <ion-navbar>
    <div class="newsearch">
      <div class="searchbar searchbar-md">
        <div class="searchbar-input-container">
          <ion-grid no-padding no-lines no-margin style="position: absolute;">
            <ion-row>
              <ion-col>
                <button ion-button icon-left clear icon-only (click)="showSearch()" style="left: 0;">
                  <ion-icon icon-left name="menu" mode="ios" class="icon-left-header"></ion-icon>
                </button>
              </ion-col>
              <ion-col col-8 (click)="showSearch()"></ion-col>
              <ion-col>
                <button ion-button icon-left clear icon-only (click)="showSearch()" style="float: right;">
                  <ion-icon name="search" mode="ios"></ion-icon>
                </button>
              </ion-col>
            </ion-row>
          </ion-grid>
          <div class="searchbar-input" (click)="showSearch()"></div>
        </div>
      </div>
    </div>
  </ion-navbar>
</ion-header>

<ion-content no-padding cabecera-parallax>

  <div class="background-image">
    <ion-slides loop="true" pager>
      <ion-slide *ngFor="let number of [1,2,3]">

        <div class="title-container">
          <div class="title">
            <h1 *ngIf="number == 1">A E S T H E T I C S</h1>
            <h1 *ngIf="number == 2">C O O R D I N A T E</h1>
            <h1 *ngIf="number == 3">I N C R E D I B L E</h1>
          </div>

        </div>

        <img src="assets/img/slides/slide{{number}}.jpg" />
      </ion-slide>
    </ion-slides>
  </div>

  <div class="main-content">
    <h2>Parallax Header</h2>
 
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

  </div>
</ion-content>
